@{
    ViewBag.Title = "Events";
}

<section>
    <header class="page-header">
        <h1>Events</h1>
    </header>

    <table class="table table-striped" id="eventsTable">
        <thead>
            <tr>
                <th class="col-sm-3">Date</th>
                <th class="col-sm-6">Title</th>
                <th class="col-sm-3">Speakers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">8th December 2015</th>
                <td>On the Bus with NServiceBus</td>
                <td>Kevin Smith - DotNetSheff</td>
            </tr>
            <tr>
                <th scope="row">26th January 2016</th>
                <td>TBA</td>
                <td>TBA</td>
            </tr>
        </tbody>
    </table>

    <section>
        <header class="page-header">
            <h2>Past Events</h2>
        </header>

        <section>
            <header class="page-header">
                <h3>2015</h3>
            </header>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-3">Date</th>
                        <th class="col-sm-6">Title</th>
                        <th class="col-sm-3">Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><a href="/events/november2015">17th November 2015</a></th>
                        <td>The New Open Source Microsoft</td>
                        <td>Jeff Burtoft - Microsoft</td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/events/october2015">20th October 2015</a></th>
                        <td>Windows 10 &amp; the Universal Windows App Platform</td>
                        <td>Mike Taulty - Microsoft</td>
                    </tr>
                    <tr>
                        <th scope="row">16th June</th>
                        <td>
                            Developing For Microsoft Band
                            <br>Introduction to Windows 10 UAP App Development
                        </td>
                        <td>
                            Pete Vickers - GUI Innovations
                            <br>Andy Wigley - Microsoft
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <header class="page-header">
                <h3>2014</h3>
            </header>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-3">Date</th>
                        <th class="col-sm-6">Title</th>
                        <th class="col-sm-3">Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">25th November</th>
                        <td>
                            Open Meeting
                        </td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">17th June</th>
                        <td>
                            Cross Platform Development using .Net, C# and Xamarin
                        </td>
                        <td>Pete Vickers - GUI Innovations</td>
                    </tr>
                    <tr>
                        <th scope="row">16th April</th>
                        <td>
                            Open Meeting
                        </td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">21st January</th>
                        <td>
                            How to Improve the Quality of Your App<br>
                            Making Your Applicatication Multi-language
                        </td>
                        <td>
                            Andy Wigley - APPA Mundi<br>
                            Pete Vickers - APPA Mundi
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <header class="page-header">
                <h3>2013</h3>
            </header>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-3">Date</th>
                        <th class="col-sm-6">Title</th>
                        <th class="col-sm-3">Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">27th November</th>
                        <td>
                            Mapping &amp; Virtual Reality for Windows Phone<br>
                            Getting Started With App Studio
                        </td>
                        <td>
                            Pete Vickers - APPA Mundi<br>
                            Andy Turner
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">16th October</th>
                        <td>
                            &quot;You Talking To Me?&quot; Programming Voice Commands for Windows Phone<br>
                            Beginning With Unity 3D: The Bits You Need to Know
                        </td>
                        <td>
                            Pete Vickers - APPA Mundi<br>
                            Simon Jackson
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">19th March</th>
                        <td>Open meeting</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th scope="row">22nd January</th>
                        <td>Sneak peek into cross-application gaming development</td>
                        <td>Simon Jackson</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <header class="page-header">
                <h3>2012</h3>
            </header>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-3">Date</th>
                        <th class="col-sm-6">Title</th>
                        <th class="col-sm-3">Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7th November</th>
                        <td>Hands on with the new Lumia 920 &amp; 820</td>
                        <td>Riaz Ahmed - Nokia</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>
