@{
    ViewBag.Title = "The New Open Source Microsoft - 17th November 2015";
    ViewBag.Description = "Microsoft is not only consuming open source, but producing it as well and it’s changing the culture of the company along the way. On November 17th we will be joined by Jeff Burtoft who will discuss some of the drivers for the change, how it’s changing the company culture and how this will affect you as a developer.";
}

<article>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Event",
        "name": "The New Open-Source Microsoft",
        "startDate" : "2015-11-17T18:30",
        "endDate" : "2015-11-17T20:45",
        "url" : "http://wpug.uk/events/november2015",
        "location" : {
        "@@type" : "Place",
        "sameAs" : "http://spaceportx.com/",
        "name" : "SpacePortX",
        "address" :{
        "@@type" : "PostalAddress",
        "streetAddress" : "24-26 Lever Street",
        "addressLocality" : "Manchester",
        "postalCode" : "M1 1DZ"
        }
        },
        "offers":{
        "name": "General Admission",
        "category": "primary",
        "url":"http://wpug.uk/events/november2015",
        "price": "0.00",
        "priceCurrency": "GBP",
        "availability": "Available",
        "validThrough": "2015-11-17T18:15"
        }
        }
    </script>

    <section>
        <header class="page-header">
            <h1>The New Open Source Microsoft</h1>
        </header>

        <p><i class="fa fa-fw fa-calendar text-primary" aria-hidden="true"></i> Tuesday 17th November 2015</p>
        <p><i class="fa fa-fw fa-clock-o text-primary" aria-hidden="true"></i> <time datetime="2015-11-17 18:30">18:30</time> - <time datetime="2015-11-17 20:45">20:45</time></p>
        <p><i class="fa fa-fw fa-map-marker text-primary" aria-hidden="true"></i> SpacePortX, 24-26 Lever Street, Manchester, M1 1DZ</p>

        <hr>
        <p>This month we have an extra-special guest all the way from Texas: Jeff Burtoft! Yes, in addition to the usual pizza, beer, and swag Jeff will be talking about his insider experience of The New Open Source Microsoft and what that means for you as a developer.</p>
        <blockquote>Three things you never thought you would see: the dead rising from the grave, dogs and cats living together, and Microsoft embracing open source. Microsoft is not only consuming open source, but producing it as well and it’s changing the culture of the company along the way.
            <footer>Jeff Burtoft</footer>
        </blockquote>
        <p>There will be time at the end for a Q&A session with Jeff before we retire to <a href="http://plymcr.co.uk/" target="_blank">PLY</a> next door to continue the discussion over a drink or two. As usual there will be beer and pizza during the interval (kindly provided this month by <a href="http://reasondigital.com/team-and-jobs/" target="_blank">Reason Digital</a>)</p>
        <p>I've also heard a rumour that a pair of very special guests might be in the audience and if that isn't enough for you we have some brilliant prizes in the raffle including a token for any JetBrains product and a 6 month subscription to Telerik Platform!</p>

        <br>

        <a href="https://www.eventbrite.co.uk/e/the-new-open-source-microsoft-jeff-burtoft-tickets-19202126076" target="_blank" class=" btn btn-warning">
            <span class="fa fa-fw fa-ticket" aria-hidden="true" disabled></span> Register to Attend
        </a>
    </section>

    <section>
        <header class="page-header">
            <h2>Speakers</h2>
        </header>

        <div class="clearfix">
            <img class="img-circle speaker" alt="Mike Taulty" src="~/img/speakers/jeff-burtoft.jpg" />
            <h3>Jeff Burtoft <small>Microsoft</small></h3>
            <p class="speaker-text">
                Jeff is a Senior Program Manager and technical Evangelist at Microsoft focusing on adoption of cutting edge web technologies. He is a published author for O'Reilly, contributor to Manifold JS, and maintains several blogs including HTML5Hacks. 
                <br>
                <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/boyofgreen" target="_blank">@@boyofgreen</a>
            </p>
        </div>
    </section>

    <section>
        <header class="page-header">
            <h2>Agenda</h2>
        </header>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-2">Time</th>
                    <th class="col-sm-10"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18:30</td>
                    <td>Doors Open</td>
                </tr>
                <tr>
                    <td>18:40</td>
                    <td>Introductions & Welcome</td>
                </tr>
                <tr>
                    <td>18:45</td>
                    <td>The New Open Source Microsoft</td>
                </tr>
                <tr>
                    <td>19:30</td>
                    <td>Sponsor Slot: Reason Digital</td>
                </tr>
                <tr>
                    <td>19:45</td>
                    <td>Pizza Break</td>
                </tr>
                <tr>
                    <td>20:15</td>
                    <td>Q&amp;A with Jeff Burtoft</td>
                </tr>
                <tr>
                    <td>20:45</td>
                    <td>Close &amp; retire to a nearby bar</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <header class="page-header">
            <h2>Location</h2>
        </header>

        <iframe width="100%" height="350" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=SpacePortX,+Lever+Street,+Manchester,+United+Kingdom&key=AIzaSyB4QIDEJ7QxRHJDrn0fAJa4jfaBFH6fvs4&zoom=16"></iframe>
    </section>

</article>