@{
    ViewBag.Title = "20th October 2015";
    ViewBag.Description = "This month we are joined by Mike Taulty, Developer Evangelist at Microsoft, who will be presenting a double whammy session where he kicks the tyres on the Universal Windows App Platform for Windows 10 with us.";
}

<article>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Event",
        "name": "Windows 10 &amp; The Universal Windows App Platform",
        "startDate" : "2015-10-20T18:15",
        "endDate" : "2015-10-20T21:00",
        "url" : "http://wpug.uk/events/october2015",
        "location" : {
        "@@type" : "Place",
        "sameAs" : "http://spaceportx.com/",
        "name" : "SpacePortX",
        "address" :{
        "@@type" : "PostalAddress",
        "streetAddress" : "24-26 Lever Street",
        "addressLocality" : "Manchester",
        "postalCode" : "M1 1DZ"
        }
        },
        "offers":{
        "name": "General Admission",
        "category": "primary",
        "url":"http://wpug.uk/events/october2015",
        "price": "0.00",
        "priceCurrency": "GBP",
        "availability": "Available",
        "validThrough": "2015-10-20T18:15"
        }
        }
    </script>

    <header class="page-header">
        <h1>Windows 10 &amp; the Universal App Platform</h1>
    </header>

    <section>
        <header class="page-header">
            <h2>About</h2>
        </header>

        <p><i class="fa fa-fw fa-calendar text-primary" aria-hidden="true"></i> Tuesday 20th October 2015</p>
        <p><i class="fa fa-fw fa-clock-o text-primary" aria-hidden="true"></i> <time datetime="2015-10-20 18:15">18:15</time> - <time datetime="2015-10-20 21:00">21:00</time></p>
        <p><i class="fa fa-fw fa-map-marker text-primary" aria-hidden="true"></i> SpacePortX, 24-26 Lever Street, Manchester, M1 1DZ</p>

        <hr>

        <p>Windows 10 is a big release for Microsoft. It's the end of a journey to unify Windows and the beginning of a journey for developers who want to take advantage of a universal app platform available across all Windows devices.</p>
        <p>In this month's meeting <a href="https://twitter.com/mtaulty" target="_blank">Mike Taulty</a> from Microsoft will dig into what's changed in Windows 10 for the Windows app developer. He'll talk about the universal app platform that makes it possible to build code that runs on all Windows devices and about the Extension platforms for code that targets specific device families.</p>
        <p>At the end of the session there will be a chance for a Q&amp;A session with Mike and a raffle for some swag. As usual there will be free pizza and drinks during the interval.</p>

    </section>
    
    <section>
        <header class="page-header">
            <h2>Speakers</h2>
        </header>

        <div class="clearfix">
            <img class="img-circle speaker" alt="Mike Taulty" src="~/img/speakers/mike-taulty.jpg" />
            <h3>Mike Taulty <small>Microsoft</small></h3>
            <p class="speaker-text">
                Mike is a Developer Evangelist at Microsoft focusing around the development of Universal Windows Applications for Windows 10.<br>
                <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/mtaulty" target="_blank">@@mtaulty</a>
            </p>
            <p></p>
        </div>
    </section>


    <section>
        <header class="page-header">
            <h2>Agenda</h2>
        </header>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-2">Time</th>
                    <th class="col-sm-10"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18:15</td>
                    <td>Doors Open</td>
                </tr>
                <tr>
                    <td>18:40</td>
                    <td>Introductions & Welcome</td>
                </tr>
                <tr>
                    <td>18:45</td>
                    <td>Windows 10 & the Universal Windows App Platform Part 1</td>
                </tr>
                <tr>
                    <td>19:30</td>
                    <td>Pizza Break</td>
                </tr>
                <tr>
                    <td>19:45</td>
                    <td>Windows 10 & the Universal Windows App Platform Part 2</td>
                </tr>
                <tr>
                    <td>20:30</td>
                    <td>Q&amp;A</td>
                </tr>
                <tr>
                    <td>21:00</td>
                    <td>Close &amp; retire to a nearby bar</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <header class="page-header">
            <h2>Location</h2>
        </header>

        <iframe width="100%" height="350" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?q=SpacePortX,+Lever+Street,+Manchester,+United+Kingdom&key=AIzaSyB4QIDEJ7QxRHJDrn0fAJa4jfaBFH6fvs4&zoom=16"></iframe>
    </section>


</article>