@{
    ViewBag.Title = "About";
}

<article>
    <header class="page-header">
        <h1>About Us</h1>
    </header>

    <p>Windows Platform User Group North West (WPUGNW) has been running since 2012 when we all first met at MadLab on Edge Street. Since then we have moved around a bit but continued to host regular meetings in Manchester city centre.</p>
    <p>Now we meet every couple of months at SpacePort on Lever Street.</p>
    <p>Meetings usually follow a standard format based around having a couple of speakers who talk about an aspect of building applications or games for the Windows Platform.</p>
    <p>We have a break between speakers for some pizza and sometimes there's a few beers to share too.</p>
    <p>At the end of the night we have a raffle for whatever prizes we have rustled up. In the past we have given away ReSharper, Telerik, and Xamarin licenses as well as PluralSight training passes, t-shirts, books, and even some phones. You never know what swag is in the bag on the night!</p>
    <p>After the meeting a few of us will retire to a nearby bar for a drink to finish the night off.</p>
    <p>We usually start at about 18.30 and run until around 21:00. If you are coming from afar don't worry about arriving late or leaving early - we're really informal.</p>
    <p>You won't need a phone or a laptop to attend unless we specify that we're doing a workshop.</p>

    <section>
        <header class="page-header">
            <h1>Organisers</h1>
        </header>


        <div class="row">
            <div class="col-md-6 clearfix">
                <img class="img-circle speaker" alt="Jason Holloway" src="~/img/organisers/jason-holloway.jpg" />
                <h3>Jason Holloway <small>Software Developer</small></h3>
                <p>
                </p>
            </div>

            <div class="col-md-6 clearfix">
                <img class="img-circle speaker" alt="Mike Irving" src="~/img/organisers/mike-irving.jpg" />
                <h3>Mike Irving <small>Software Developer</small></h3>
                <p>
                    <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/mikeirvingweb" target="_blank">@@mikeirvingweb</a>
                </p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6 clearfix">
                <img class="img-circle speaker" alt="Oli Newsham" src="~/img/organisers/oli-newsham.jpg" />
                <h3>Oli Newsham <small>Lead Developer - Collabco</small></h3>
                <p>
                    <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/scarylooking" target="_blank">@@scarylooking</a>
                </p>
            </div>
            <div class="col-md-6 clearfix">
                <img class="img-circle speaker" alt="Pete Vickers" src="~/img/organisers/pete-vickers.jpg" />
                <h3>Pete Vickers <small>Director - GUI Innovations</small></h3>
                <p>
                    <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/petevick" target="_blank">@@petevick</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 clearfix">
                <img class="img-circle speaker" alt="Rik Garner" src="~/img/organisers/richard-garner.jpg" />
                <h3>Rik Garner <small>Software Developer</small></h3>
                <p>
                    <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/RikGarner" target="_blank">@@rikgarner</a>
                </p>
            </div>
        </div>
    </section>


</article>
