@model wpug.Models.RingModel
@{
    ViewBag.Title = "Doorbell";
}

<div class="page-header">
    <div>
        <h1>Doorbell</h1>
    </div>
</div>

@if (ViewBag.Times < 1)
{
    <p class="lead">Locked out? Sorry! Hit the button below to let us know and someone will come to let you in&hellip;</p>
}

@if (ViewBag.Result == false)
{
    <div class="alert alert-danger" role="alert"><span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Something went wrong. Contact <a href="mailto:oli@wpugnw.uk">Oli</a>.</div>
}

@if (ViewBag.Result == true)
{
    <div class="alert alert-success" role="alert">
        <span class="fa fa-check" aria-hidden="true"></span> Someone is on their way&hellip;
    </div>
}

<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12 col-md-6 col-centered">
            <button type="submit" id="doorbell" class="btn btn-success btn-lg btn-block">
                <span id="icon" class="fa fa-fw fa-bell"></span> <span id="ringText">Ring</span>
            </button>
        </div>
    </div>
</div>



<script type="text/javascript">
    $('#doorbell').on('click', function () {

        $('#doorbell').attr("disabled", "disabled");
        $('#ringText').html('Ringing&hellip;');
        $('#icon').removeClass('fa-bell fa-question').addClass('fa-spin fa-circle-o-notch');

        setTimeout(function () {
            $.get("/doorbell/ring", function (data) {
                $('#ringText').html('On the way&hellip;');
                $('#icon').removeClass('fa-circle-o-notch fa-spin').addClass('fa-check');

                setTimeout(function () {
                    $('#doorbell').removeAttr("disabled");
                    $('#ringText').html('Ring again&hellip;');
                    $('#icon').removeClass('fa-check').addClass('fa-question');
                }, 60000);
            })
        }, 1000);

    });
</script>

