@{
    ViewBag.Title = "Windows Platform User Group North West";
    ViewBag.Description = "WPUGNW is an independant community-organised group that hosts meetups in Manchester for anyone interested in designing and developing for Windows; be that Phone, Desktop, IoT or even HoloLens.";
}


<div class="jumbotron">
    <h1 class="text-center">Windows Platform User Group North West</h1>
    <p class="lead text-center">WPUGNW is an independent community-organised group that hosts meetups in Manchester for anyone interested in designing or developing software for Windows; be that Phone, Desktop, IoT or even HoloLens.</p>
</div>

<section id="eventError">
    <div class="lead text-center alert alert-danger"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Something went wrong loading details of our next event. Check us out on <a href="http://www.meetup.com/Manchester-NET/">Meetup</a> instead.</div>
</section>

<section id="noEvent">
    <div class="lead text-center alert alert-warning"><i class="fa fa-fw fa-search" aria-hidden="true"></i> We're busy planning the next user group. Join our mailing list or the <a href="http://www.meetup.com/Manchester-NET/">Meetup</a> group to be notified of the next event.</div>
</section>

<section id="eventDetails">
    <header class="page-header">
        <h1 id="eventTitle">-</h1>
    </header>

    <p><i class="fa fa-fw fa-calendar text-primary" aria-hidden="true"></i> <span id="eventDate">-</span></p>
    <p><i class="fa fa-fw fa-clock-o text-primary" aria-hidden="true"></i> <span id="eventStartTime">-</span> - <span id="eventEndTime">-</span></p>
    <p><i class="fa-fw fa fa-users text-primary" aria-hidden="true"></i> <span id="eventAttendees">0</span> registered attendees</p>
    <p>
        <i class="fa fa-fw fa-map-marker text-primary" aria-hidden="true"></i>
        <strong>
            <span class="strong" id="eventLocationName"></span>
        </strong>
        <span id="eventLocationAddress"></span>
    </p>

    <hr>

    <div id="eventText">
    </div>
    <br>

    <a href="#" id="bookingButton" disabled="true" target="_blank" class="btn btn-warning">
        <span class="fa fa-ticket" aria-hidden="true" disabled></span> Register to Attend
    </a>

</section>

<section id="loadingEvent">
    <div class="lead text-center alert alert-info"><i class="fa fa-fw fa-circle-o-notch fa-spin" aria-hidden="true"></i> Loading Events</div>
</section>

<section>
    <div class="page-header">
        <h1>Mailing List</h1>
    </div>

    <form action="//wpug.us11.list-manage.com/subscribe/post?u=2cf98230ccbc68a31492d3e5b&amp;id=7943385eb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="form-control" name="FNAME" id="firstname">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control" name="LNAME" id="lastname">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="emailaddress">E-mail:</label>
            <input type="email" class="form-control" name="EMAIL" id="emailaddress">
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_2cf98230ccbc68a31492d3e5b_7943385eb2" value="">
            </div>
        </div>

        <button class="btn btn-primary" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i> Subscribe</button>

    </form>
</section>

<section>
    <header class="page-header">
        <h1>Sponsors</h1>
    </header>
    <p class="text-center">
        <a href="http://www.telerik.com/" target="_blank"><img alt="Green and black Telerik logo with 'A progress company' written below" src="~/img/sponsors/telerik.jpg" /></a>
        <a href="https://www.jetbrains.com/" target="_blank"><img alt="Colourful angular swoosh with 'Jetbrains' written in a black square in the centre" src="~/img/sponsors/jetbrains.jpg" /></a>
        <a href="https://www.pluralsight.com" target="_blank"><img alt="Pink circular Pluralsight logo with the word Pluralsight in black to the right" src="~/img/sponsors/pluralsight.jpg" /></a>
    </p>

</section>

@Scripts.Render("~/js/meetup-event")

<script type="application/ld+json">
    { "@@context" : "http://schema.org",
    "@@type" : "Organization",
    "name" : "Windows Platform User Group North West",
    "logo": "http://wpug.uk/img/logo.svg",
    "name": "Windows Platform User Group North West",
    "url": "http://wpug.uk",
    "sameAs" : [ "https://www.facebook.com/wpugnw",
    "https://twitter.com/wpugnw",
    "http://wpug.uk.uk"]
    }
</script>