@{
    ViewBag.Title = "App Gallery";
}

<header class="page-header">
    <h1>App Gallery</h1>
</header>

<p>Welcome to the app gallery, a veritable gallimaufry of apps that have been built by our members. If you download any, please remember to rate and review them generously.</p>

<section>
    <header class="page-header">
        <h2>Aden Earnshaw</h2>
    </header>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 app with-caption">
            <a href="http://windowsphone.com/s?appId=26550a8b-126b-e011-81d2-78e7d1fa76f8" target="_blank">
                <img class="img-responsive" alt="Download Glasto Guide" src="http://cdn.marketplaceimages.windowsphone.com/v8/images/07cbcc8b-e025-419a-b37d-82eb25fd8067?imageType=ws_icon_large" />
            </a>
            <p>Glasto Guide</p>
        </div>
    </div>
</section>

<section>
    <header class="page-header">
        <h2>Mike Irving</h2>
    </header>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 app with-caption">
            <a href="http://windowsphone.com/s?appId=2d9375b8-f3af-4483-b6bb-5fcee306d5d4" target="_blank">
                <img class="img-responsive" alt="Download Grid Ref UK and Ireland" src="http://cdn.marketplaceimages.windowsphone.com/v8/images/3b10b7f3-0883-411f-8993-3b90786f2c65?imageType=ws_icon_large" />
            </a>
            <p>Grid Ref UK and Ireland</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 app with-caption">
            <a href="http://windowsphone.com/s?appId=71ca00af-8c1e-4a51-8648-2f21c02fb3d3" target="_blank">
                <img class="img-responsive" alt="Download GB Grid Ref Compass" src="http://cdn.marketplaceimages.windowsphone.com/v8/images/8f255e23-c59d-4cd7-b422-47c6110e6a39?imageType=ws_icon_large" />
            </a>
            <p>GB Grid Ref Compass</p>
        </div>
    </div>
</section>

<section>
    <header class="page-header">
        <h2>Oli Newsham</h2>
    </header>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 app with-caption">
            <a href="http://windowsphone.com/s?appId=8f5d7369-ae81-4a3e-a8b9-dd3e1240cba2" target="_blank">
                <img class="img-responsive" alt="Download Meditate" src="http://cdn.marketplaceimages.windowsphone.com/v8/images/a288c428-b14d-44cb-91e1-fd118cd36f02?imageType=ws_icon_large" />
            </a>
            <p>Meditate</p>
        </div>
    </div>
</section>

<section>
    <header class=" page-header">
        <h1>Add Your App</h1>
    </header>
    <p>If you want your app adding to the gallery let us know via the <a href="/Contact">contact form</a>.</p>
</section>
